#Basket {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 50px;
    background-color: white;
}

.price-section {
    background-color: #0a9878;
    width: 100%;
    height: 60vh;
    margin-top: 194px;
}

.basket-section {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.basket-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.basket-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.basket-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c6fff2;
    margin: 25px 0;
}

.product-name {
    font-weight: 500;
}

.product-thumbnail {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    width: 20%;
}

.product-thumbnail img {
    width: 100%;
    vertical-align: revert !important;
}

.input-number {
    width: 20px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    height: 100%;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.input-number-decrement:active,
.input-number-increment:active {
    background: #ddd;
}

.input-number-decrement {
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.input-number-increment {
    border-right: none;
    border-radius: 5px 0px 0 5px;
}

.trash {
    background: transparent;
    border: none;
}

.trash i {
    font-size: 20px;
    color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.th-img,
.th-qty {
    width: 15%;
}

td,
th {
    border: 1px solid #777;
    text-align: center;
    padding: 13px;
}

th {
    background-color: #0a9878;
    color: white;
}

.empty-cart {
    text-align: center;
    font-size: 25px;
    width: 75%;
    margin: 0 auto;
}

.empty-cart h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 35px;
}

.clear-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.clear-cart button {
    border: none;
    color: #222;
    padding: 14px 15px;
    font-size: 20px;
    border-radius: 4px;
    transition: all .5s;
    border: 3px solid #222;
    background: transparent;
    font-weight: 500;
}

.clear-cart button:hover {
    background: #222;
    color: #fff;
}

.price-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.price-line {
    width: 70%;
    height: 5px;
    background-color: #111;
    border-radius: 5px;
}

.price-top {
    text-align: center;
    color: white;
}

.price-top p {
    font-size: 30px;
}

.price-top p span {
    font-weight: bold;
}

.price-footer {
    width: 100%;
    text-align: center;
}

.price-footer img {
    width: 10%;
    opacity: .3;
}

.checkout {
    border: none;
    outline: none;
    width: 142px;
    height: 55px;
    font-size: 20px;
    border-radius: 3px;
    font-weight: 500;
    background-color: #111;
    color: #fff;
    transition: all .5s;
}

.checkout:hover {
    background-color: #fff;
    color: #111;
    border: 2px #111 solid;
}

@media screen and (max-width:1050px) {
    /* .basket-section {
        width: 100%;
    } */
    .quantity {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .price-footer img {
        display: none;
    }
    .input-number {
        width: 10px;
    }
}

@media screen and (max-width:750px) {
    /* .quantity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
    .input-number-decrement,
    .input-number-increment {
        border: 1px solid #ccc;
        /* border-radius: 0; */
        width: 32px;
    }
    .input-number {
        width: 30px;
        padding: 0;
        height: 40px;
    }
    .empty-cart h1 {
        text-align: center;
        font-size: initial;
    }
}

@media screen and (max-width:600px) {
    .basket-list {
        overflow: auto;
    }
}

@media screen and (max-width:450px) {
    table {
        font-size: 10px;
    }
    .input-number,
    .input-number-decrement,
    .input-number-increment {
        height: 25px;
        text-align: center;
        line-height: normal;
        border-radius: initial;
    }
    .quantity {
        flex-direction: column-reverse;
    }
    .empty-cart {
        font-size: 12px;
    }
    .clear-cart button {
        font-size: 12px;
        padding: 10px;
    }
    .price-line {
        display: none;
    }
    .price-top {
        font-size: 23px;
        line-height: 50px;
    }
    .price-top p span {
        display: block;
    }
}

@media screen and (max-width:200px) {
    .clear-cart button {
        font-size: 7px;
    }
    .checkout {
        font-size: 11px;
        width: 75px;
        height: 40px;
    }
    .price-top p {
        font-size: 15px;
        line-height: 50px;
    }
}