.filter-section {
    margin-top: 75px;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filter-btn {
    margin: 0 10px;
    position: relative;
}

.filter-btn button {
    border: none;
    border-radius: 5px;
    margin: 10px 25px;
    background-color: white;
    font-size: 25px;
    padding: 10px 25px;
    transition: all .3s;
    border: #484848 2px solid;
}

.active-filter {
    background-color: #222 !important;
    color: #fff;
}

.deactive-filter {
    background-color: white;
    color: #000;
}

.filter-btn button:hover {
    background-color: #cfcfcf;
    transform: scale(.95);
}

.filter-btn button:active {
    background-color: #222;
    color: #fff;
}

@media screen and (max-width:400px) {
    .filter-btn button {
        font-size: 20px;
        padding: 7px 21px;
    }
}

@media screen and (max-width:600px) {
    .filter-btns {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .filter-btn button {
        font-size: 20px;
        padding: 7px 21px;
    }
}