footer {
    background-color: #313131;
    color: #fff;
    width: 100%;
    padding: 25px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
    width: 100%;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    cursor: pointer;
    transition: all .5s;
    border-radius: 50%;
    margin: 8px;
}

.social li i {
    margin: 15px;
    font-size: 25px;
}

.social li:hover {
    background-color: #0a9878;
}

@media screen and (max-width:600px) {
    .footer-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social {
        margin-top: 20px;
    }
}

@media screen and (max-width:400px) {
    .footer-text p {
        text-align: center;
        line-height: 40px;
    }
}

@media screen and (max-width:270px) {
    .social {
        flex-direction: column;
    }
}